.App {
  color:white;
  background-color: rgb(95, 68, 95);
  
}
.nav{
  background-color: rgb(100, 51, 100);
  padding: 15px;
}
:any-link{
  color:white;
  text-decoration: none;
}





.reg{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

.signup{

  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;  
  
}
.form-wrapper-signup{
 
  margin-top: -29rem;

}
Form{
  background-color: rgb(211, 160, 211);
  padding: 20px;
}
.form:hover{
  transform: scale(1.02);
  background-color: rgb(146, 103, 146);
}
img{
  width:200px;
  height:650px;

}
.header{
  text-align: center;
  color: rgb(91, 21, 91);
}
.text{
  color: rgb(91, 21, 91);

}
.submit{
  transform: translateX(150%);
  border-color: rgb(91, 21, 91);
  background-color: rgb(91, 21, 91);

}
.submit:hover{
  background-color: rgb(175, 99, 175);
  border-color:  rgb(175, 99, 175);
}
